In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([['fetchone/keras', 11003], ['fetchmore/mark', 89234]])

In [5]:
df.shape

(2, 2)

In [15]:
df2 = pd.DataFrame([['fetchone/guido', 12030], 
                    ['fetchmore/guido', 8191902],
                    ['python3/guido', 99999999]
                   ],
                   columns=['repository', 'stars'])
df2

        repository     stars
0   fetchone/guido     12030
1  fetchmore/guido   8191902
2    python3/guido  99999999