In [6]:
import pandas as pd

df = pd.DataFrame([['Ilocke/zero', 19023], 
                   ['IKotlin', 12230]], columns=["Repositorio", "Estrelas"])

In [7]:
df.iloc(1)

In [11]:
df.index = df['Repositorio']

In [12]:
df

             Repositorio  Estrelas
Repositorio
Ilocke/zero  Ilocke/zero     19023
IKotlin          IKotlin     12230