In [2]:
import pandas as pd
import pydataset

titanic = pydataset.data('titanic')

In [5]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [8]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [11]:
titanic['class'].nbytes

10528

In [13]:
%%time
titanic['class'].astype('category')

CPU times: user 3.48 ms, sys: 1.01 ms, total: 4.49 ms
Wall time: 7.02 ms

1       1st class
2       1st class
3       1st class
4       1st class
5       1st class
6       1st class
7       1st class
8       1st class
9       1st class
10      1st class
11      1st class
12      1st class
13      1st class
14      1st class
15      1st class
16      1st class
17      1st class
18      1st class
19      1st class
20      1st class
21      1st class
22      1st class
23      1st class
24      1st class
25      1st class
26      1st class
27      1st class
28      1st class
29      1st class
30      1st class
31      1st class
32      1st class
33      1st class
34      1st class
35      1st class
36      1st class
37      1st class
38      1st class
39      1st class
40      1st class
41      1st class
42      1st class
43      1st class
44      1st class
45      1st class
46      1st class
47      1st class
48      1st class
49      1st class
50      1st class
51      1st class
52      1st class
53      1st class
54      1st class
55      1st class
56      1st class
57      1st class
58      1st class
59      1st class
60      1st class
61      1st class
62      1st class
63      1st class
64      1st class
65      1st class
66      1st class
67      1st class
68      1st class
69      1st class
70      1st class
71      1st class
72      1st class
73      1st class
74      1st class
75      1st class
76      1st class
77      1st class
78      1st class
79      1st class
80      1st class
81      1st class
82      1st class
83      1st class
84      1st class
85      1st class
          ...
1232    3rd class
1233    3rd class
1234    3rd class
1235    3rd class
1236    3rd class
1237    3rd class
1238    3rd class
1239    3rd class
1240    3rd class
1241    3rd class
1242    3rd class
1243    3rd class
1244    3rd class
1245    3rd class
1246    3rd class
1247    3rd class
1248    3rd class
1249    3rd class
1250    3rd class
1251    3rd class
1252    3rd class
1253    3rd class
1254    3rd class
1255    3rd class
1256    3rd class
1257    3rd class
1258    3rd class
1259    3rd class
1260    3rd class
1261    3rd class
1262    3rd class
1263    3rd class
1264    3rd class
1265    3rd class
1266    3rd class
1267    3rd class
1268    3rd class
1269    3rd class
1270    3rd class
1271    3rd class
1272    3rd class
1273    3rd class
1274    3rd class
1275    3rd class
1276    3rd class
1277    3rd class
1278    3rd class
1279    3rd class
1280    3rd class
1281    3rd class
1282    3rd class
1283    3rd class
1284    3rd class
1285    3rd class
1286    3rd class
1287    3rd class
1288    3rd class
1289    3rd class
1290    3rd class
1291    3rd class
1292    3rd class
1293    3rd class
1294    3rd class
1295    3rd class
1296    3rd class
1297    3rd class
1298    3rd class
1299    3rd class
1300    3rd class
1301    3rd class
1302    3rd class
1303    3rd class
1304    3rd class
1305    3rd class
1306    3rd class
1307    3rd class
1308    3rd class
1309    3rd class
1310    3rd class
1311    3rd class
1312    3rd class
1313    3rd class
1314    3rd class
1315    3rd class
1316    3rd class
Name: class, Length: 1316, dtype: category
Categories (3, object): [1st class, 2nd class, 3rd class]

In [15]:
titanic['class'] == '3rd class'

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool